:root {
  --bg-color: #0f172a;
  --text-color: #ffffff;
  --card-bg: #1e293b;
  --border-color: #334155;
}

body.light {
  --bg-color: #f8fafc;
  --text-color: #0f172a;
  --card-bg: #ffffff;
  --border-color: #cbd5e1;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: 0.3s;
}


.dashboard {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main";
  grid-template-columns: 250px 1fr;
  grid-template-rows: 70px 1fr;
  height: 100vh;
}


.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: var(--card-bg);
  border-bottom: 1px solid var(--border-color);
}

.sidebar {
  grid-area: sidebar;
  padding: 20px;
  background: var(--card-bg);
  border-right: 1px solid var(--border-color);
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: var(--card-bg);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  font-size: 20px;
  transition: 0.3s;
}

button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #2563eb;
  color: white;
}
